body {
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    background-color: #faf4f5;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Mont-Book";
  src: url("../fonts/Mont-Book.otf");
}

